<div class="container-fluid mt-6 mb-10">
  <marquee
    >Currently the conference with be held online as well as on physical mode.
    However, physical mode will be confirmed one month before the conference
    date (depend on the COVID-19 situation). Online participation will always be
    there.</marquee
  >
  <div class="row">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Affiliation</th>

          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Affiliation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Dr. Gary Alan</td>
          <td>University of Huddersfield</td>
          <th scope="row">2</th>
          <td>Dr Jan Jurgens</td>
          <td>Universitat Koblenz Landau</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Dr. Jamal Abawaaji</td>
          <td>Deakin University, Australia</td>
          <th scope="row">4</th>
          <td>Dr. Ren Jian</td>
          <td>
            Software Engineering Institute, Beihang University, Beijing,
            P.R.CHINA.
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Dr. Humaira Noor Minhas</td>
          <td>‎CTO and co-founder @ 4pilots, München, Bayern, Germany.</td>
          <th scope="row">5</th>
          <td>Dr. Zafar Shaazli</td>
          <td>Sr. R&D Software Engineer at Johnson & Johnson</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Dr. Ji Wu</td>
          <td>
            Software Engineering Institute, Beihang University, Beijing,
            P.R.CHINA.
          </td>
          <th scope="row">7</th>
          <td>Dr. Tariq Mehmood</td>
          <td>IBA, Karachi, Pakistan.</td>
        </tr>

        <tr>
          <th scope="row">9</th>
          <td>Dr. Imaad khan</td>
          <td>
            Senior Data Scientist at Department of Health & Human Services,
            Victoria, Australia.
          </td>
          <th scope="row">10</th>
          <td>Dr. Ijaaz Ahmed</td>
          <td>VTT, Finland.</td>
        </tr>

        <tr>
          <th scope="row">11</th>
          <td>Kiu chang</td>
          <td>
            Software Engineering Institute, Beihang University, Beijing,
            P.R.CHINA.
          </td>
          <th scope="row">12</th>
          <td>Dr. Kamran Nishaat</td>
          <td>University of Waterloo, CANADA</td>
        </tr>

        <tr>
          <th scope="row">13</th>
          <td>Khashif Nisaar</td>
          <td>Thornton</td>
          <th scope="row">14</th>
          <td>Dr. Tanesh Kumar</td>
          <td>University of Oulu, Finland.</td>
        </tr>

        <tr>
          <th scope="row">15</th>
          <td>Dr. Khurram Pirzada</td>
          <td>Global Head, Cloud venture, USA</td>
          <th scope="row">16</th>
          <td>Malik Asfand Yar</td>
          <td>Beihang University, P.R.China.</td>
        </tr>

        <tr>
          <th scope="row">17</th>
          <td>Bilal hassan</td>
          <td>Beihang University P.R.China</td>
          <th scope="row">18</th>
          <td>Mohammad Shoaib Zafar</td>
          <td>Beihang University P.R.China</td>
        </tr>

        <tr>
          <th scope="row">19</th>
          <td>Dr. Naveed Akram</td>
          <td>Beihang University P.R.China</td>
          <th scope="row">20</th>
          <td>Dr. Muhammad Tallal Saeed</td>
          <td>Air university< Islamabad, Pakistan</td>
        </tr>

        <tr>
          <th scope="row">21</th>
          <td>Dr. Mansoor Ahmed</td>
          <td>Beihang University P.R.China</td>
          <th scope="row">22</th>
          <td>Dr. Affan Aleem</td>
          <td>PAF-Kiet, Karachi</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
